**Files to ignore**
# Ignore Python cache files
__pycache__/
*.py[cod]
# Ignore virtual environment directories
.vscode/
env/
venv/
# Ignore system files
.DS_Store
Thumbs.db
# Ignore env files
*.env
#Ignore test files
.pytest_cache/
*test_backend.py
*test.md
# Ignore all PDF files
*.pdf
# Ignore all txt files
*.txt
# Ignore all png files
*.png

#Ignore embeddings and vector DBs
embeddings/chunks/
embeddings/vector_db



