# Python
__pycache__/
*.py[cod]

# Virtual environment
.vscode/
env/
venv/

# System files
.DS_Store
Thumbs.db

# Env files
*.env

# Test files
.pytest_cache/
*test_backend.py
*test.md
*REVISION_TOPICS.md
*test.py

# PDF files
*.pdf

# DON'T IGNORE ALL TXT! We need requirements.txt!
# *.txt  ← REMOVE THIS LINE


# PNG files
*.png

# Embeddings and DBs
embeddings/chunks/
embeddings/vector_db
Backend/database/sql_database.db